body {
    padding: 10px;
    background-color: rgb(192, 80, 80)
}

ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}